<div id="link-form">
  <div class="errors">
  </div>

  <form class="post-form form-group" id="new-link-form">
    <p>URL:</p><input name="link[url]" placeholder="Enter a URL" class="form-control" id="link-url-input"></input><br/>
    <p>Title:</p><input name="link[title]" placeholder="Enter a title" class="form-control" id="link-title-input"></input><br/>
    <input type="submit" class="btn btn-primary" id="add-link-btn" value="Add Link">
  </form>

  <h4>Filters:</h4>
  <input type="text" id="links-filter" placeholder="Search for a link...">
  <input type="submit" class="btn btn-secondary" id="filter-unread-btn" value="Only Unread Links">
  <input type="submit" class="btn btn-secondary" id="filter-read-btn" value="Only Read Links">

  <div class="link-list">
    <% @links.each do |link| %>
      <% if link.read %>
        <div class="card clicked" data-id="<%= link.id %>">
      <% else %>
        <div class="card" data-id="<%= link.id %>">
      <% end %>
        <div class="card-block">
          <h4 class="card-title">Title: <%= link.title %></h4>
          <p class="card-text card-url">URL: <a href="<%= link.url %>"><%= link.url %></a></p>
          <p class="card-text read-status">Read?: <%= link.read %></p>
          <% if link.read %>
            <input type="button" value="Mark as Unread" class="btn btn-info mark-as-read">
          <% else %>
            <input type="button" value="Mark as Read" class="btn btn-info mark-as-read">
          <% end %>
          <a href="/links/<%= link.id %>/edit" class="btn btn-warning">Edit</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
